/* Estos tres estilos son para las etiquetas */
.sky {
    background-color: #00c2e0!important;
    border-color: #00c2e0!important;
    color: #fff!important;
}
.lime {
    background-color: #51e898!important;
    border-color: #51e898!important;
    color: #fff!important;
}
.null {
    background-color: #b3bac5!important;
    border-color: #b3bac5!important;
    color: #fff!important;
}